// Variables
@import 'variables';

.primary-button {
    background-color: $button-color !important;
    color: white !important;
    margin: auto;
}

.inverse-primary-button {
    border-color: $button-color !important;
    color: $button-color !important;
    width:100%;
    margin: auto;
}