// Variables
@import 'variables';

h1,
h2,
h3,
h4 {
    margin-top: 20px !important;
}

.grad {
    background-image: linear-gradient($primary, $secondary);
}

.active {
    color: white !important;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: rgba($color: white, $alpha: 0.75);
    &:hover {
        color:white;
    }
}

.vertical-align{
    margin-top: 20px;
}

.logo img {
    margin: 10px 0;
    height: 60px;
}